<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acadia Order Confirmation Mail</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #888;
            font-size: 12px;
        }

        h1 {
            color: #007AFF;
            margin-bottom: 5px;
        }

        h2 {
            color: #555;
            font-size: 20px;
            margin-top: 0;
        }

        p {
            color: #555;
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        .activation-code {
            padding: 10px;
            font-size: 20px;
        }

        a {
            color: #007AFF;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Yayy! Order Confirmed</h1>
        <h2>Hello <strong>
                <%= user.firstName %>
            </strong>,</h2>
        <p>Your Acadia order is confirmed.</p>
        <p>Please login to <a href="http://localhost:3000">http://localhost:3000</a> to begin your journey.</p>
        <p>We're thrilled to have you as a part of our learning community.</p>

        <h2>Order Confirmation</h2>
        <p>Thank you for your order! Here are the details:</p>

        <table>
            <tr>
                <th>Order ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Date of Purchase</th>
            </tr>
            <tr>
                <td>
                    <%= order._id %>
                </td>
                <td>
                    <%= order.name %>
                </td>
                <td>$<%= order.price.toFixed(2) %>
                </td>
                <td>
                    <%= order.date %>
                </td>
            </tr>
        </table>

        <div class="footer">
            <p>This is an automated email. Please do not reply to this email.</p>
        </div>
        <p>If you have any questions or need assistance, feel free to contact our support team at <a
                href="mailto:opuscorppune@gmail.com">opuscorppune@gmail.com</a>.</p>
        <p>Happy learning!</p>
    </div>
</body>

</html>